Repository LoneStarF13/LoneStar, pull requests merged in 2022-03, with the labels that each got.

#388 lootspawn/guns balance pass (granularizes loot spawners, changes loot pools + spawner locations)
  _maps/RandomZLevels/VR/yuma_VR.dmm
  _maps/map_files/Pahrump/Pahrump-Surface-2.dmm
  _maps/map_files/Pahrump/Pahrump-Underground-1.dmm
  _maps/map_files/templates/dungeons/north_bunker_1.dmm
  _maps/map_files/templates/dungeons/north_bunker_2.dmm
  _maps/map_files/templates/dungeons/oasis_bunker_1.dmm
  _maps/map_files/templates/dungeons/oasis_bunker_2.dmm
  code/_globalvars/lists/maintenance_loot.dm
  code/datums/components/crafting/recipes/recipes_weapon_and_ammo.dm
  code/datums/components/storage/concrete/pockets.dm
  code/game/objects/effects/spawners/f13lootdrop.dm
  code/game/objects/effects/spawners/themed_loot_tables.dm
  code/game/objects/items/granters.dm
  code/game/objects/items/miscellaneous.dm
  code/game/objects/items/storage/belt.dm
  code/game/objects/structures/safe.dm
  code/modules/WVM/wmv_buyer.dm
  code/modules/jobs/job_types/legion.dm
  code/modules/jobs/job_types/vault.dm
  code/modules/jobs/job_types/wasteland.dm
  code/modules/projectiles/guns/ballistic/automatic.dm
  code/modules/projectiles/guns/ballistic/pistol.dm
  code/modules/projectiles/guns/ballistic/revolver.dm
Labels: Status: Testmerged, Code: Rework, Type: Balancing

#395 Rose in Seed Vendor & Seed sprites
  code/modules/vending/megaseed.dm
  icons/obj/hydroponics/seeds.dmi
Labels: stale

#393 Pre-built Fortifications (NCR/Legion)
  _maps/map_files/Pahrump/Pahrump-Above-3.dmm
  _maps/map_files/Pahrump/Pahrump-Surface-2.dmm
Labels: Type: Map, No Code
